/* 글쓰기 폼 */
.write {
    position: absolute;
    display: none;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.write_form {
    position: absolute;
    top: 50%;
    width: 400px;
    height: 500px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateY(-50%);
}

#inquiry_list {
 border-bottom: 1px solid red;
}

/* 문의 목록 헤더 스타일 */
#inquiry_list_header {
    display: block;
    width: 1200px;
    height: 30px;
    margin-bottom: 30px;
}

#inquiry_list_header ul {
    display: flex;
    width: 1200px;
    height: 40px;
    text-align: center;
    list-style: none;
    padding-left: 0;
}

/* 리스트 상단 바 li */
#inquiry_list_header li {
    width: 200px;
    border: 1px solid grey;
    background-color:rgb(80,80,80,0.1);
    text-align: center;
}

 #inquiry_list_header li:nth-child(1) {
    width: 5%;
}

#inquiry_list_header li:nth-child(2) {
    width: 15%;
}

#inquiry_list_header li:nth-child(3) {
    width: 25%;
}

#inquiry_list_header li:nth-child(4) {
    width: 40%;
}

#inquiry_list_header li:nth-child(5) {
    width: 17%;
} 

#inquiry_form {
    margin-left: 1100px;
    margin-bottom: 10px;
}

.open_inquiry_form_btn {
    padding:10px 15px 10px 15px;
    min-width: 100px;
    height: auto;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
    color: #5d5d5d;
    box-shadow: 0px -3px 3px #ffffff, 0px 3px 3px #cccccc;
}



#content_wrap {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 700px;
    list-style: none; 
}
#content_wrap ul {
    display: flex;
    list-style: none;
    width: 1200px;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;

}
#content_wrap li:nth-child(1) {
    width: 3%;
}

#content_wrap li:nth-child(2) {
    width: 15%;
}

#content_wrap li:nth-child(3) {
    width: 25%;
}

#content_wrap li:nth-child(4) {
    width: 40%;
}

#content_wrap li:nth-child(5) {
    width: 15%;
} 


#header {
    width:100%;
    
}
#footer {
    width: 100%;
    height: 200px;
}
 #middle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

 /* 팝업 안에 제목 input 사이즈 */
.inquiry_write #title {
    width: 400px;
    height: 20px;
}

/* textarea 크기 고정 및 사이즈 크기 지정 */
.inquiry_write #content {
    width: 400px;
    height: 300px;
    resize: none;
}  

.inquiry_write #submit_inquiry, #close_inquiry_form  {
    padding:8px 15px 8px 15px;
    min-width: 100px;
    height: auto;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
    background-color:#5877f9;
    border:2px solid #5877f9;
    color:#ffffff;
}

#footer {
    background-color: black;
}

#pagination {
    display: flex;
}


#pagination span {
    display: block;
    padding: 10px;
    border: 1px solid;
    box-sizing: border-box;
    cursor: pointer;
}

#pagination span:hover {
    background-color: aqua;
}

/* -----------------------------비노드 님꺼------------------------------------ */

#bodyContent {
    background-color: rgb(230, 229, 229);
}

#titleBar {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.855);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h1 {
    cursor: pointer;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 3%;
    color: rgba(219, 193, 100, 0.897);
}

.divInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
}

.inputSearch {
    width: 380px;
    height: 35px;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    border: 0;
}

.Icon {
    margin: 10px 5px;
    color: rgb(224, 221, 221);
}

.hamBtn {
    width: 30px;
    height: 30px;
    position: relative;
}

.hamBtn span {
    top: 50%;
    width: 30px;
    height: 4px;
    background-color: rgb(224, 221, 221);
    position: absolute;
    transform: translateY(-50%);
}

.hamBtn span:nth-child(1) {
    position: absolute;
    top: 23%;
    transform: translateY(-50%);
}

.hamBtn span:nth-child(3) {
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
}

.hamBtn:hover > span {
    background-color: rgb(148, 148, 148);
}

.isactive span:nth-child(1) {
    transform: translateY(50%) rotate(-45deg);
    top: 35%;
}

.isactive span:nth-child(3) {
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
}

.isactive .hamBtn span:nth-child(2) {
    display: none;
}

#hamBtnContent {
    width: 100%;
    position: relative;
}

.hamBtnContentul {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    display: none;
    background-color: rgb(34, 33, 33);
}

.hamBtnContentul li {
    width: 100%;
    height: 25%;
    font-size: 22px;
    padding: 8px;
    user-select: none;
    font-weight: 600;
    color: rgb(233, 234, 235);
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

.hamBtnContentul li:hover {
    color: rgb(121, 178, 227);
}

.isactive .hamBtnContentul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#displayContent {
    width: 65%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#hamBtnContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}


